<div style="overflow: hidden; padding-bottom: 10rem;">
    <div class="position-relative container-fluid bg-light pt-5 px-0 mb-5">
        <div class="position-relative container mt-5" style="z-index: 1;">
            <advice-list class="row text-center justify-content-center" style="border-radius: 20px;"></advice-list>
        </div>
        <advice-background></advice-background>
        <div class="position-relative bg-white grey-replace">
            <h1>geter</h1>
        </div>
    </div>
</div>