<div class="container my-4">
    <div class="row">
        <div class="text-center bg-light py-4 px-5"
            style="border-radius: 20px; box-shadow: 5px 10px 10px rgb(226, 226, 226);">
            <p class="text-desc collapse" id="desc">
            </p>
            <span class="fs-3" type="button" data-bs-toggle="collapse" data-bs-target="#desc"
                aria-controls="desc" aria-expanded="false" aria-label="">
                <i class="bi bi-arrow-down-circle"></i>
            </span>
        </div>
    </div>
</div>