<div class="container my-4">
    <div class="row">
        <div class="text-center bg-light py-4 px-5"
            style="border-radius: 20px; box-shadow: 5px 10px 10px rgb(226, 226, 226);">
            <p class="text-desc collapse" id="desc">
                
                ini dapat menyebar melalui
                tetesan kecil (droplet) dari hidung atau mulut pada saat batuk atau bersin. Droplet tersebut
                kemudian jatuh pada benda di sekitarnya. Kemudian jika ada orang lain menyentuh benda yang
                sudah terkontaminasi dengan droplet tersebut, lalu orang itu menyentuh mata, hidung atau
                mulut (segitiga wajah), maka orang itu dapat terinfeksi COVID-19.<br> Seseorang juga bisa
                terinfeksi COVID-19 ketika tanpa sengaja menghirup droplet dari penderita. Inilah sebabnya
                mengapa kita penting untuk menjaga jarak hingga kurang lebih satu meter dari orang yang
                sakit.
            </p>
            <span class="fs-3" type="button" data-bs-toggle="collapse" data-bs-target="#desc"
                aria-controls="desc" aria-expanded="false" aria-label="">
                <i class="bi bi-arrow-down-circle"></i>
            </span>
        </div>
    </div>
</div>